.mainC {
  display: flex;
  flex-flow: row;
}

.row {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
  margin-top: 0;
}

.para {
  text-align: left;
  margin-left: 20px;
}

.hm {
  text-align: left;
  margin-left: 20px;
}

.nameTit {
  font-family: "Major Mono Display", monospace;
  margin-bottom: 20px;
}
